html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* Typography ---------------------------------------------------------------- */
.serif { font-family: Cambria, Georgia, serif; }

.sans, body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.mono, pre, code, tt { font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif; }

.caps, .allcaps, h1, h2, h3, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"], .smallcaps { letter-spacing: 0.1em; }

.allcaps, h1, h2, h3, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"] { text-transform: uppercase; }

.smallcaps { font-variant: small-caps; }

/* * Media Queries Mixins * * @todo Do we have to take care of print ? * * @require sass-3.2 (you need eventually to do "sudo gem install sass --pre") * @author Maxime Thirouin <maxime.thirouin@gmail.com> */
/*$media-query-width-big: 1280px; $media-query-width-medium: 960px; $media-query-width-small: 480px; */
/* Layout -------------------------------------------------------------------- */
.full { display: block; float: none; width: auto; }

.half { max-width: 50%; }

.left { display: inline; float: left; margin-right: 1em; margin-bottom: 0.5em; }

.right { display: inline; float: right; margin-left: 1em; margin-bottom: 0.5em; }

/* Root ---------------------------------------------------------------------- */
body { font-size: 100%; line-height: 1.2em; }

html > body { font-size: 16px; }

html { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { color: #404040; }

/* Selected Text ------------------------------------------------------------- */
::-webkit-selection { color: black; background: #7979d2; text-shadow: none; }

::-moz-selection { color: black; background: #7979d2; text-shadow: none; }

::selection { color: black; background: #7979d2; text-shadow: none; }

/* Links --------------------------------------------------------------------- */
a:hover, a:active { outline: none; }
a:link, a:visited { color: #7979d2; text-decoration: none; }
a:focus, a:hover, a:active { color: #993333; }

/* Headings ------------------------------------------------------------------ */
h1 { font-weight: 700; }

h1, h2, h3 { margin-bottom: 1.2em; }

h4 { font-weight: 700; }

h5, h6 { font-style: italic; }

/* Inline -------------------------------------------------------------------- */
cite, em, dfn, address, i { font-style: italic; }

strong, dfn, b { font-weight: bold; }

sup, sub { position: relative; font-size: smaller; line-height: 0; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }

mark { background: #ffff99; background-color: rgba(255, 255, 0, 0.5); text-shadow: none; }

small { font-size: 0.75em; line-height: 1.6em; }

q { font-style: italic; }
q em { font-style: normal; }

/* Block --------------------------------------------------------------------- */
p { margin-bottom: 1.2em; }

pre { padding: 1.2em; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

blockquote { padding: 1.2em; font-style: italic; }

/* Interactive --------------------------------------------------------------- */
details { margin-bottom: 1.2em; }

summary { display: inline; cursor: pointer; }
summary:focus { outline: thin dotted #993333; }

.no-details details > * { display: none; }
.no-details details summary { display: inline; }

/* Replaced ------------------------------------------------------------------ */
figure img, figure object, figure embed { vertical-align: top; max-width: 100%; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/* Lists --------------------------------------------------------------------- */
ol, ul, dd { margin-left: 1.2em; }

ol { list-style-type: decimal; }

ul { list-style-type: disc; }
nav ul { margin: 0; padding: 0; border: 0; list-style: none; }
nav ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

dt { margin-top: 1.2em; }

/* Tables -------------------------------------------------------------------- */
table { margin-bottom: 1.2em; width: 100%; border-collapse: separate; border-spacing: 0; }

table, td, th { vertical-align: top; }

th, thead th { font-weight: bold; }

th, td, caption { padding: 0.6em; text-align: left; font-weight: normal; }

table, th { border-bottom-style: solid; border-bottom-width: 0.063em; padding-bottom: 0.538em; }

tfoot { font-size: 0.875em; line-height: 1.371em; }

/* Forms --------------------------------------------------------------------- */
/* Form Resets --------------------------------------------------------------- */
input[type="button"], input[type="submit"], input[type="image"], label, button { cursor: pointer; }

input[type="search"] { -webkit-appearance: none; }
input[type="search"]::-webkit-search-decoration { display: none; }
input[type="radio"], input[type="checkbox"] { vertical-align: baseline; }

textarea { overflow: auto; resize: vertical; }

button, input[type="select"], select, textarea { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }

optgroup { margin: 0; padding: 0; border: 0; }

optgroup { color: #404040; font-style: normal; font-weight: normal; }

.iem7 legend { margin-left: -7px; }

::-moz-focus-inner { border: 0; }

/* Placeholders -------------------------------------------------------------- */
/* Basic --------------------------------------------------------------------- */
form > ul { margin: 0; padding: 0; border: 0; list-style: none; }
form > ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
form > ul > li { *zoom: 1; }
form > ul > li:after { content: ""; display: table; clear: both; }

/* Text Inputs --------------------------------------------------------------- */
.textinput, textarea, select:not([multiple]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 0.875em; line-height: 1.371em; border-style: solid; border-width: 0.071em; padding: 0.271em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 2.057em; vertical-align: top; outline: 0; }

.input[disabled], textarea[disabled], select[disabled] { background-color: #eeeeee; color: #666666; }
.input:valid, textarea:valid, select:valid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; }
.input:valid:focus, textarea:valid:focus, select:valid:focus, .input:valid.hadfocus, textarea:valid.hadfocus, select:valid.hadfocus { -moz-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; }
.no-boxshadow .input:valid:focus, .no-boxshadow textarea:valid:focus, .no-boxshadow select:valid:focus, .no-boxshadow .input:valid.hadfocus, .no-boxshadow textarea:valid.hadfocus, .no-boxshadow select:valid.hadfocus { background-color: rgba(0, 128, 0, 0.25); }
.input:invalid, textarea:invalid, select:invalid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; }
.input:invalid:focus, textarea:invalid:focus, select:invalid:focus, .input:invalid.hadfocus, textarea:invalid.hadfocus, select:invalid.hadfocus { -moz-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; }
.no-boxshadow .input:invalid:focus, .no-boxshadow textarea:invalid:focus, .no-boxshadow select:invalid:focus, .no-boxshadow .input:invalid.hadfocus, .no-boxshadow textarea:invalid.hadfocus, .no-boxshadow select:invalid.hadfocus { background-color: rgba(255, 0, 0, 0.25); }
.ie7 .input, .ie7 textarea, .ie7 select { height: auto; }

textarea { height: auto; min-height: 6.857em; }
textarea::-webkit-input-placeholder { color: gray; }
textarea:-moz-placeholder { color: gray; }
textarea.placeholder { color: gray; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder { color: gray; }
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="color"]:-moz-placeholder { color: gray; }
input[type="text"].placeholder, input[type="password"].placeholder, input[type="email"].placeholder, input[type="url"].placeholder, input[type="tel"].placeholder, input[type="date"].placeholder, input[type="datetime"].placeholder, input[type="datetime-local"].placeholder, input[type="month"].placeholder, input[type="week"].placeholder, input[type="time"].placeholder, input[type="number"].placeholder, input[type="search"].placeholder, input[type="color"].placeholder { color: gray; }

/* Buttons ------------------------------------------------------------------- */
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { margin: 0; padding: 0; border: 0; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; text-shadow: none; overflow: visible; width: auto; vertical-align: baseline; background: none; color: inherit; font: inherit; }
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { *display: inline; }

.button, button, input[type="reset"], input[type="submit"], input[type="button"] { -moz-transition: box-shadow 300ms; -webkit-transition: box-shadow 300ms; -o-transition: box-shadow 300ms; transition: box-shadow 300ms; font-size: 0.75em; line-height: 0.8em; -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; background: #7979d2; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(166, 166, 166, 0.25)), color-stop(100%, rgba(166, 166, 166, 0))), #7979d2; background: -webkit-linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -moz-linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -o-linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -ms-linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: linear-gradient(top, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; border-style: solid; border-width: 0.083em; padding: 0.317em; padding-left: 1.2em; padding-right: 1.2em; text-shadow: white 1px 1px 0; border-color: #595959; vertical-align: top; cursor: pointer; color: black; font-weight: bold; }
.button:hover, button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus { -moz-box-shadow: #993333 0 0 0.5em; -webkit-box-shadow: #993333 0 0 0.5em; -o-box-shadow: #993333 0 0 0.5em; box-shadow: #993333 0 0 0.5em; }
.button:active, button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active { -moz-transition: none; -webkit-transition: none; -o-transition: none; transition: none; -moz-box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; -webkit-box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; -o-box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; box-shadow: #993333 0 0 0.25em, inset #595959 1px 1px 1px; background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(166, 166, 166, 0.25)), color-stop(100%, rgba(166, 166, 166, 0))), #7979d2; background: -webkit-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -moz-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -o-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: -ms-linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; background: linear-gradient(bottom, rgba(166, 166, 166, 0.25), rgba(166, 166, 166, 0) 100%), #7979d2; }
.button[disabled], button[disabled], input[disabled][type="reset"], input[disabled][type="submit"], input[disabled][type="button"] { color: #888888; }

/* Form Helpers -------------------------------------------------------------- */
.errorlist { margin: 0; padding: 0; border: 0; list-style: none; color: red; }
.errorlist li { list-style-image: none; list-style-type: none; margin-left: 0px; }

.loading { position: relative; }
.loading .overlay { position: absolute; top: 0; bottom: 0; left: 0; right: 0; font-weight: 700; background: rgba(242, 242, 242, 0.833); color: rgba(64, 64, 64, 0.833); text-align: center; }

.message { padding-left: 1.8em; padding-right: 0.6em; background: rgba(204, 204, 204, 0.833) no-repeat scroll 0.6em; }
.message.info { background-image: url('../images/ui/info.png?1322081148'); background-color: rgba(179, 179, 230, 0.694); }
.message.success { background-image: url('../images/ui/check.png?1322081148'); background-color: rgba(179, 230, 179, 0.694); }
.message.warning { background-image: url('../images/ui/warning.png?1322081148'); background-color: rgba(242, 223, 166, 0.694); }
.message.error { background-image: url('../images/ui/x.png?1322081148'); background-color: rgba(230, 179, 179, 0.694); }

#messages ul { margin: 0; padding: 0; border: 0; list-style: none; }
#messages ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

footer[role="contentinfo"] small, footer[role="contentinfo"] strong { font: inherit; }

@media (max-width: 479px) { header[role="banner"], div[role="main"], footer[role="contentinfo"] { clear: both; margin-left: 4.762%; margin-right: 4.762%; } }
@media (min-width: 480px) and (max-width: 959px) { header[role="banner"], div[role="main"], footer[role="contentinfo"] { clear: both; margin-left: 2.174%; margin-right: 2.174%; } }
@media (min-width: 960px) { header[role="banner"], div[role="main"], footer[role="contentinfo"] { clear: both; margin-left: 1.639%; margin-right: 1.639%; } }
body > div { *zoom: 1; margin: auto; width: 19em; max-width: 100%; }
body > div:after { content: ""; display: table; clear: both; }
@media (min-width: 480px) { body > div { *zoom: 1; margin: auto; width: 44em; max-width: 100%; }
  body > div:after { content: ""; display: table; clear: both; } }
@media (min-width: 960px) { body > div { *zoom: 1; margin: auto; width: 59em; max-width: 100%; }
  body > div:after { content: ""; display: table; clear: both; } }

header[role="banner"] { margin-top: 1.2em; margin-bottom: 2.4em; }

footer[role="contentinfo"] { font-size: 0.833em; line-height: 1.44em; margin-top: 2.88em; margin-bottom: 2.88em; }

.week { overflow: hidden; *zoom: 1; }

.exact, .relative { display: block; }

.relative { font-size: 0.833em; line-height: 1.44em; font-style: italic; text-transform: lowercase; }

.overdue { padding-bottom: 0.6em; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(255, 0, 0, 0.125)), color-stop(100%, rgba(255, 0, 0, 0))); background-image: -webkit-linear-gradient(bottom, rgba(255, 0, 0, 0.125), rgba(255, 0, 0, 0) 1.2em); background-image: -moz-linear-gradient(bottom, rgba(255, 0, 0, 0.125), rgba(255, 0, 0, 0) 1.2em); background-image: -o-linear-gradient(bottom, rgba(255, 0, 0, 0.125), rgba(255, 0, 0, 0) 1.2em); background-image: -ms-linear-gradient(bottom, rgba(255, 0, 0, 0.125), rgba(255, 0, 0, 0) 1.2em); background-image: linear-gradient(bottom, rgba(255, 0, 0, 0.125), rgba(255, 0, 0, 0) 1.2em); }

.graph { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; }
.graph li { list-style-image: none; list-style-type: none; margin-left: 0px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; white-space: nowrap; }
.graph li { *display: inline; }
.graph > li { vertical-align: baseline; }

.areasummary { text-indent: -119988px; overflow: hidden; text-align: left; min-width: 1.2em; }
.areasummary.a1 { background: green; }
.areasummary.a2 { background: red; }
.areasummary.a3 { background: orange; }
.areasummary.a4 { background: blue; }
.areasummary.n1 { width: 1.2em; }
.areasummary.n2 { width: 2.4em; }
.areasummary.n3 { width: 3.6em; }
.areasummary.n4 { width: 4.8em; }
.areasummary.n5 { width: 6em; }
.areasummary.n6 { width: 7.2em; }
.areasummary.n7 { width: 8.4em; }
.areasummary.n8 { width: 9.6em; }
.areasummary.n9 { width: 10.8em; }
.areasummary.n10 { width: 12em; }
.areasummary.n11 { width: 13.2em; }
.areasummary.n12 { width: 14.4em; }
.areasummary.n13 { width: 15.6em; }
.areasummary.n14 { width: 16.8em; }
.areasummary.n15 { width: 18em; }
.areasummary.n16 { width: 19.2em; }
.areasummary.n17 { width: 20.4em; }
.areasummary.n18 { width: 21.6em; }
.areasummary.n19 { width: 22.8em; }
.areasummary.n20 { width: 24em; }
.areasummary.n21 { width: 25.2em; }
.areasummary.n22 { width: 26.4em; }
.areasummary.n23 { width: 27.6em; }
.areasummary.n24 { width: 28.8em; }
.areasummary.n25 { width: 30em; }
.areasummary.n26 { width: 31.2em; }
.areasummary.n27 { width: 32.4em; }
.areasummary.n28 { width: 33.6em; }
.areasummary.n29 { width: 34.8em; }
.areasummary.n30 { width: 36em; }
.areasummary.n31 { width: 37.2em; }
.areasummary.n32 { width: 38.4em; }
.areasummary.n33 { width: 39.6em; }
.areasummary.n34 { width: 40.8em; }
.areasummary.n35 { width: 42em; }
.areasummary.n36 { width: 43.2em; }
.areasummary.n37 { width: 44.4em; }
.areasummary.n38 { width: 45.6em; }
.areasummary.n39 { width: 46.8em; }
.areasummary.n40 { width: 48em; }
.areasummary.n41 { width: 49.2em; }
.areasummary.n42 { width: 50.4em; }
.areasummary.n43 { width: 51.6em; }
.areasummary.n44 { width: 52.8em; }
.areasummary.n45 { width: 54em; }
.areasummary.n46 { width: 55.2em; }
.areasummary.n47 { width: 56.4em; }
.areasummary.n48 { width: 57.6em; }
.areasummary.n49 { width: 58.8em; }
.areasummary.n50 { width: 60em; }
.areasummary.n51 { width: 61.2em; }
.areasummary.n52 { width: 62.4em; }
.areasummary.n53 { width: 63.6em; }
.areasummary.n54 { width: 64.8em; }
.areasummary.n55 { width: 66em; }
.areasummary.n56 { width: 67.2em; }
.areasummary.n57 { width: 68.4em; }
.areasummary.n58 { width: 69.6em; }
.areasummary.n59 { width: 70.8em; }
.areasummary.n60 { width: 72em; }
.areasummary.n61 { width: 73.2em; }
.areasummary.n62 { width: 74.4em; }
.areasummary.n63 { width: 75.6em; }
.areasummary.n64 { width: 76.8em; }
.areasummary.n65 { width: 78em; }
.areasummary.n66 { width: 79.2em; }
.areasummary.n67 { width: 80.4em; }
.areasummary.n68 { width: 81.6em; }
.areasummary.n69 { width: 82.8em; }
.areasummary.n70 { width: 84em; }
.areasummary.n71 { width: 85.2em; }
.areasummary.n72 { width: 86.4em; }
.areasummary.n73 { width: 87.6em; }
.areasummary.n74 { width: 88.8em; }
.areasummary.n75 { width: 90em; }
.areasummary.n76 { width: 91.2em; }
.areasummary.n77 { width: 92.4em; }
.areasummary.n78 { width: 93.6em; }
.areasummary.n79 { width: 94.8em; }
.areasummary.n80 { width: 96em; }
.areasummary.n81 { width: 97.2em; }
.areasummary.n82 { width: 98.4em; }
.areasummary.n83 { width: 99.6em; }
.areasummary.n84 { width: 100.8em; }
.areasummary.n85 { width: 102em; }
.areasummary.n86 { width: 103.2em; }
.areasummary.n87 { width: 104.4em; }
.areasummary.n88 { width: 105.6em; }
.areasummary.n89 { width: 106.8em; }
.areasummary.n90 { width: 108em; }
.areasummary.n91 { width: 109.2em; }
.areasummary.n92 { width: 110.4em; }
.areasummary.n93 { width: 111.6em; }
.areasummary.n94 { width: 112.8em; }
.areasummary.n95 { width: 114em; }
.areasummary.n96 { width: 115.2em; }
.areasummary.n97 { width: 116.4em; }
.areasummary.n98 { width: 117.6em; }
.areasummary.n99 { width: 118.8em; }
.areasummary.n100 { width: 120em; }

.chick, .severity, .area { font-size: 0.833em; line-height: 1.44em; padding: 0 0.36em; background: #f2f2f2; }

.smallprint, .product, .desc { font-size: 0.833em; line-height: 1.44em; font-style: italic; }

.week, .day { margin-bottom: 0.6em; }

.bug { overflow: hidden; *zoom: 1; border-top-style: solid; border-top-width: 0.063em; padding-top: 0.538em; padding-bottom: 0.6em; border-color: #f2f2f2; }
.bug:first-of-type { padding-top: 0.6em; border: 0; }

@media (min-width: 480px) and (max-width: 959px) { .bughead { display: inline; float: left; width: 65.909%; margin-right: 2.273%; } }
@media (min-width: 960px) { .bughead { display: inline; float: left; width: 69.388%; margin-right: 2.041%; } }

.severity { display: inline; float: left; margin-right: 0.36em; }

@media (min-width: 480px) and (max-width: 959px) { .origin { display: inline; float: left; width: 31.818%; margin-right: 2.273%; display: inline; float: right; margin-right: 0; #margin-left: -1em; } }
@media (min-width: 960px) { .origin { display: inline; float: left; width: 28.571%; margin-right: 2.041%; display: inline; float: right; margin-right: 0; #margin-left: -1em; } }
@media (min-width: 480px) { .origin { text-align: right; } }

@media (max-width: 479px) { .area { margin-right: 0.36em; } }

@media (max-width: 479px) { .product { display: inline; } }

.desc { margin: 0; clear: left; }

@media (min-width: 960px) { .weekview .weektitle, .weekview .daytitle { display: inline; float: left; width: 15.254%; margin-right: 1.695%; margin-bottom: 0em; text-align: right; }
  .weekview .weektitle { background: url('../images/ui/angle_right.png?1322081148') no-repeat scroll 0.3em 0.3em; cursor: pointer; }
  .weekview .graph { display: inline; float: left; width: 83.051%; margin-right: 1.695%; display: inline; float: right; margin-right: 0; #margin-left: -1em; }
  .weekview .week, .weekview .day { clear: both; }
  .weekview .day .exact { font-size: 0.833em; line-height: 1.44em; }
  .weekview .day .relative, .weekview .day .graph { display: none; }
  .weekview .day .bug { display: inline; float: left; width: 83.051%; margin-right: 1.695%; display: inline; float: right; margin-right: 0; #margin-left: -1em; }
  .weekview .daytitle { padding-top: 0.6em; }
  .weekview .closed .day, .weekview .closed .relative { display: none; }
  .weekview .open .weektitle { background-image: url('../images/ui/angle_down.png?1322081148'); } }
