.graph
  +inline-block-list
  > li
    vertical-align: baseline


.areasummary
  +hide-text
  min-width: rhythm(1)

  @for $i from 1 through 100
    &.n#{$i}
      width: rhythm($i)

.areasummary, .area
  &.a0
    background: red
  &.a1
    background: rgba($base,.5)
  &.a2
    background: rgba($accent,.5)
  &.a3
    background: rgba($alt,.5)