body > div
  +container(4)
  +susy-grid-background(4)
  +media-small
    +container(9)
    +susy-grid-background(9)
  +media-medium
    +container(12)
    +susy-grid-background(12)

header[role="banner"]
  +leader(.5)
  +trailer
  +pie-clearfix
  h1
    +media-columns(false,4 9,4 12)
    +trailer(0)

.views
  +float(left)
  +trailer
  h2
    +gone
  a
    #{$link}
      +inline-block
      +border-radius
      padding: 0 rhythm(.5)
      &.active
        +box-shadow(rgba($mid,$xxsmall) 0 0 2px inset)
        background: $lightest
        color: $base

footer[role="contentinfo"]
  +leader(2)
  +trailer(2)