<article class="bug a{{ bug.area.id }} s{{ bug.severity_numeric }}" id="bug{{ bug.id }}">

  <header class="bughead">
    <div class="severity s{{ bug.severity_numeric }}">
      {{ bug.severity }}
    </div>
    <h4 class="bugtitle">
      [<a href="{{ bug.web_url }}" class="bugid">#{{ bug.id }}</a>]
      {{ bug.summary }}
    </h4>
  </header>

  <div class="origin">
    <span class="area a{{ bug.area.id }}">
      {{ bug.area }}
    </span>
    <div class="product">
      <span class="prodtitle">{{ bug.product }}</span>,
      <span class="component">{{ bug.component }}</span>
    </div>
  </div>

  <p class="desc">
    {{ bug.creator.name }}, {{ bug.creation_time|date:"b j Y" }}
  </p>

</article>
