<section class="week overdue" id="overdue">
  <h2 class="weektitle">
    <span class="relative">overdue</span>
  </h2>

  <section class="day" id="nov22">
    <h3 class="daytitle">
      <time class="due">
        <span class="exact">Nov 22</span>
        <span class="relative">yesterday</span>
      </time>
    </h3>

    {% include "dashboard/_bug.html" with id=03 aid=03 sid=05 desc='1' %}
    {% include "dashboard/_bug.html" with id=04 aid=04 sid=01 %}
  </section>
</section>

<section class="week" id="w01">
  <h2 class="weektitle">
    <time class="due">
      <span class="exact">Nov 20-26</span>
      <span class="relative">this week</span>
    </time>
  </h2>

  <section class="day today" id="nov23">
    <h3 class="daytitle">
      <time class="due">
        <span class="exact">Nov 23</span>
        <span class="relative">today</span>
      </time>
    </h3>
    {% include "dashboard/_bug.html" with id=05 aid=01 sid=03 desc="1" %}
    {% include "dashboard/_bug.html" with id=06 aid=03 sid=04 %}
  </section>

  <section class="day today" id="nov24">
    <h3 class="daytitle">
      <time class="due">
        <span class="exact">Nov 24</span>
        <span class="relative">tomorrow</span>
      </time>
    </h3>
    {% include "dashboard/_bug.html" with id=07 aid=02 sid=07 %}
    {% include "dashboard/_bug.html" with id=08 aid=03 sid=04 %}
  </section>
</section>