<div class="overview">
  <section class="area-overview a0">
    <h2 class="area-title">unknown</h2>
    <ol class="sparkline">
      {% include "dashboard/_sparks_fake.html" %}
    </ol>
  </section>
  <section class="area-overview a1">
    <h2 class="area-title">security</h2>
    <ol class="sparkline">
      {% include "dashboard/_sparks_fake.html" %}
    </ol>
  </section>
  <section class="area-overview a2">
    <h2 class="area-title">stability</h2>
    <ol class="sparkline">
      {% include "dashboard/_sparks_fake.html" %}
    </ol>
  </section>
  <section class="area-overview a3">
    <h2 class="area-title">performance</h2>
    <ol class="sparkline">
      {% include "dashboard/_sparks_fake.html" %}
    </ol>
  </section>
  <ol class="spark-key">
    <li>today</li>
    <li>1</li>
    <li>2</li>
    <li>3mo</li>
    <li>4</li>
    <li>5</li>
    <li>6mo</li>
  </ol>
</div>